OPENAI_API_KEY= # YOUR OPENAI API KEY
ELEVENLABS_API_KEY= # YOUR ELEVENLABS API KEY
ELEVENLABS_AGENT_ID= # YOUR ELEVENLABS AGENT ID
ANTHROPIC_API_KEY= # Your Antropic API Key
MIDDLEWARE_URL= # your middleware url
MIDDLEWARE_AUTH_TOKEN= # middleware authenticaation token